.form-evento {
  background-color: #212121;
  padding: 2rem 1.75rem;
  border-radius: 16px;
  width: 324px;
  max-width: 90%;
  margin: 4rem auto;
}

.campos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}