.botao-form {
    border-radius: 8px;
    background-color: #17D9B1;
    color: #212121;
    
    width: 128px;
    max-width: 90%;
    padding: 8px 16px;
    border: none;

    font-weight: 600;
    font-size: 16px;
    line-height: 120%;

    cursor: pointer;
    margin: 16px auto 0 auto;

}

.botao-form:hover {
    opacity: 0.8;
}